<div class="row">
  <div class="col-md-3">
    <ul class="list-group" *ngIf="categories">
      <li class="list-group-item" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        All
      </li>
      <li *ngFor="let c of categories" class="list-group-item" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
        [queryParams]="{category: c.key}">{{c.name}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <app-product-grid [products]="products"></app-product-grid>
  </div>
</div>
